<div class="first-section">
  <div class="container">
    <div class="row header">
      <div class="col-md-4">
        <a href="/" class="sg-brand center-block">
          <img src="{{ url_for('static', filename='images/Logo.png') }}">
          <span>Support Genie</span>
        </a>
      </div>
      <div class="col-md-8">
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="{{ url_for('signups.subscribe') }}" class="special">Beta Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row banner">
      <div class="col-md-6">
        <span class="headline">Enhance your customer support.<br>See what your customers see.</span>
        <span class="tagline">Convert your customer’s Smart Phone into the best tool for support</span>
        <form class="form-inline actions" action="{{ url_for('signups.subscribe') }}" method="post">
          {{ form.csrf_token }}
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Email Address" name="email">
          </div>
          <button class="btn btn-success btn-sg-success">Try Beta</button>
        </form>
      </div>
    </div>
  </div><!-- end of container -->
</div>